.item {
    position: relative;
    cursor: pointer;    
    padding: 20px;

}

.caption {
    position: absolute;
    text-align: center;
    background-color: #fff;
    width: 80%;
    left: 10%;
    bottom: 30px;
    padding: 10px;
}

.light-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left:0;
    right:0;
    bottom:0;
    top:0;
    margin: 0;
}
.container-item
{background-color: blue;
    width: 45%;
    height: 600px;
    background-position: center center;
    background-size: 100% 100%;

}
.container-item i{
    font-size: 20px;
    cursor: pointer;
}